.checklist {
	margin-block-end: 40px;
}

.checklist-content {
	border: none;
	margin: 0;
	padding: 0;
}

.checklist-content legend {
	margin-block-end: 24px;
}

.checklist-content label {
	cursor: pointer;
	display: block;
	font: var(--medium);
	padding-left: 35px;
	position: relative;
	user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
}

.checklist-content input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.checkmark {
	block-size: 21px;
	border-radius: 4px;
	border: 1px solid var(--gray30);
	inline-size: 21px;
	left: 0;
	position: absolute;
	top: 5px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.checklist-content input:checked ~ .checkmark {
	background-color: var(--orange);
	border: none;
}

.checkmark:after {
	color: white;
	content: '\2713';
	display: none;
	font-size: 12px;
	left: 6px;
	position: absolute;
	top: -6px;
}

.checklist-content input:checked ~ .checkmark:after {
	display: block;
}

@media screen and (min-width: 690px) {
	.checklist {
		margin-block-end: 28px;
		margin-block-start: 32px;
	}

	.checklist-content label {
		margin-block-end: 13px;
	}
}
